<div class="container">
  <br>
  <br>
  <h5 class="header center">About Me</h5>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col s2">
      <img src="imgs/me1.png" alt="" class="circle responsive-img">
      <!-- notice the "circle" class -->
    </div>
    <div class="col s10">
      <div class="row">
        <span class="header col s12 light">
          <p>Professionally, I work as a software developer. Currently at <a href="http://www.thedigitalgroup.com/" target="_blank">The Digital Group InfoTech</a>.</p>
          <p>I've have worked on both the front-end and back-end. Current front-end tech stack is JavaScript, HTML, CSS, AngularJS, and some Node.js, for backend it's core Java.
            I've also come to develop a deep interest in the Semantic Web and it's implementation.
          </p>
          <p>
            Check out my blog for an <a href="http://blog.thedigitalgroup.com/sheldonf/2015/04/23/introduction-to-web-3-0-the-semantic-web/" target="_blank">introduction to the semantic web</a>.
          </p>
          <p>I have a broad range of interests that are constanly changing. I'm intrigued by technology, design, music, traveling, food, art, and also like to delve into armchair philosophy.
            <br/>
            <br/> I have an unceasing desier to be achieve happiness, which leads me to work hard for things that help me get there.
          </p>
        </span>
      </div>
    <!--  <div class="row">
        <div class="col s6">
          <a href="http://www.thedigitalgroup.com/" target="_blank">
            <img src="imgs/tdg_logo.png" alt="tdg_logo" height="50%" width="50%" style="padding-top: 20px;">
          </a>
        </div>
        <div class="col s6">
          <a href="http://manipal.edu/mit.html" target="_blank">
            <img src="imgs/MIT_Manipal_Seal.png" alt="tdg_logo" height="30%" width="30%">
        </div>
      </div> -->

    </div>
  </div>
  <br>
  <br>

</div>
