/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav a {
    color: #212121;
}
nav ul a {
  font-size: 1rem;
  color: #212121 ;
  display: block;
  padding: 0 15px; }

  nav .brand-logo {
    position: absolute;
    color: #212121;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    white-space: nowrap; }


    footer.page-footer .footer-copyright {
      overflow: hidden;
      height: 50px;
      line-height: 50px;
      color: #212121;
      background-color: rgba(51, 51, 51, 0.08); }
