<div class="container">
  <br><br>
  <h5 class="header center">About Me</h5>
  <br><br><br>
    <div class="row">
  <div class="col s2">
    <img src="imgs/me1.png" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
  </div>
  <div class="col s10">
  <div class="row">
    <span class="header col s12 light">
      <p>Professionally, I work as a software developer. Currently at <a href="http://www.thedigitalgroup.com/">The Digital Group InfoTech</a>.</p>
       <p>I've have worked on both the front-end and back-end.  Current front-end tech stack is JavaScript, HTML, CSS, AngularJS, and some Node.js, for backend it is mainly core Java.
         I do have some experice with Apache Solr and the Semantic Web stack.</p>
      <p>I have a broad range of interests that is constanly changing.
      Currently I'm intrigued by technology, design, music, traveling, food, art, and also delve into armchair philosophy.
      <br/><br/>
      I have an unceasing desier to be achieve happiness, which leads me to work hard for things that help me get there.
    </p>
     </span>
  </div>
</div>
</div>
  <br><br>

</div>
